.analytics-details{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.browser-details{
    margin-top: 10px;
}

p{
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
    word-wrap: break-word;
    color: rgba($color: #000000, $alpha: 0.8);
}

h2{
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
}

button{
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
}