.register-form {
    input {
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
        outline: none;
    }
    button{
        border-radius: 20px;
        padding: 20px;
        margin: 10px;
        background-color: #ffcd57;
    }
    p{
        color: #ffcd57;
    }
}