<div class="flex justify-center h-full items-center">
<form #loginForm="ngForm" class="flex flex-col basis-2/4 register-form items-center">
        <input matInput required autocomplete="off" type="email" [(ngModel)]="email" name="email" placeholder="Email">
        <input matInput required autocomplete="off" type="password" [(ngModel)]="password" name="password" placeholder="Password">
    <button mat-raised-button [disabled]="loginForm.invalid" (click)="login()">Login</button>
    <p>Not registered? <a class="hover:underline" routerLink="/register">Register here</a></p>
</form>
</div>