<div class="analytics-page flex flex-col justify-center">
    <mat-drawer-container class="md:pl-8">
    <div class="flex flex-col px-8 md:w-75 lg:w-49">
        <h2>URL Analytics: </h2>
        <hr>
        <ngx-skeleton-loader 
            *ngIf="isLoading"
            count="10" animation="pulse"
            [theme]="{
                backgroundColor: '#e2e2e2',
            }"
        >
        </ngx-skeleton-loader>
        <div class="flex flex-col url-list" id="style-1">
            <url-shortener-frontend-analytics-list-item *ngFor="let url of analyticsUrls" (selected)="selectUrl($event)"
                [analtyicsUrl]="url"></url-shortener-frontend-analytics-list-item>
        </div>
    </div>
        <mat-drawer #drawer position="end"  mode="side" [opened]="selectedUrl!==emptyAnalyticsUrl" class="w-10/12 md:w-1/2 ">
          <div *ngIf="selectedUrl!==emptyAnalyticsUrl" class="analytics-details">
            <url-shortener-frontend-analytics-details
                [analyticsUrl]="selectedUrl"
                (closeWindow)="closeDetails()"
            >
            </url-shortener-frontend-analytics-details>
        </div>
        </mat-drawer>
    </mat-drawer-container>
</div>