$width__sidebar: 20rem;

h2{
    font-size: 32px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7)
}

.url-list{
    overflow-y: auto;
    margin-top: 10px;
    height: 80vh;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.mat-drawer-container{
    background: none;
}

.mat-drawer{
  border-radius: 20px;
  margin: 5px;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
}

.analytics-page{
    overflow: hidden;
}