<div class="analytics-page flex flex-col justify-center">
    <mat-drawer-container class="md:pl-8">
    <div class="flex flex-col px-8 md:w-75 lg:w-49">
        <h2>URL Analytics: </h2>
        <hr>
        <ngx-skeleton-loader 
            *ngIf="isLoading"
            count="10" animation="pulse"
            [theme]="{
                backgroundColor: '#e2e2e2',
            }"
        >
        </ngx-skeleton-loader>
        <div *ngIf="!isLoading && analyticsUrls.length === 0" class="flex flex-col justify-center items-center">
            <img src="https://images.vexels.com/media/users/3/199917/isolated/lists/bb4a24c88a1633c7fb4bae097e5e7172-empty-box-isometric.png" alt="No data to show">
            <p>Sorry, the Schrödinger's cat is neither dead nor alive. It ran away :"&#41;</p>
            <p>Please shorten a url to see analytics</p>
        </div>
        <div *ngIf="analyticsUrls.length > 0" class="flex flex-col url-list" id="style-1">
            <url-shortener-frontend-analytics-list-item *ngFor="let url of analyticsUrls" (selected)="selectUrl($event)"
                [analtyicsUrl]="url"></url-shortener-frontend-analytics-list-item>
        </div>
    </div>
        <mat-drawer #drawer position="end"  mode="side" [opened]="selectedUrl!==emptyAnalyticsUrl" class="w-10/12 md:w-1/2 ">
          <div *ngIf="selectedUrl!==emptyAnalyticsUrl" class="analytics-details">
            <url-shortener-frontend-analytics-details
                [analyticsUrl]="selectedUrl"
                (closeWindow)="closeDetails()"
            >
            </url-shortener-frontend-analytics-details>
        </div>
        </mat-drawer>
    </mat-drawer-container>
</div>